@import "../../vars.scss";


.Login{
    background: url(../../assets/img/login-banner.jpg) !important; 
    background-size: cover !important;
    .provider-header{
        &:after{
            display: none;
        }
    }
    .container.fluid{
        padding: $padding + 5px;
        .field{
            max-width: $inputWidth + 10px;
        }
        .title{
            text-align: center;
            color: $white !important;
            font-size: $fontSizeLarge !important;
        }
        .error{
            color: red;
            font-size: medium;
        }
        .link{
            display: block;
            text-align: center;
            cursor: pointer;
        }
        form{
            position: relative;
            margin-top: 4em;
        }
        .header.error{
            font-size: $fontSize - 4px !important;
            padding: $padding - 10px !important;
            display: flex;
        }
    }
    
}