@import '../vars.scss';
.provider-subheader {
    display: flex;
    height: 67px;
    align-items: center;
    flex: 0 0 67px;
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid $secondary;
    .titles{
      flex: 1;
    }
    .breadcrumb {
      a {
        color: $secondary !important;
        text-transform: uppercase;
        font-weight: 600;
        &+.right.angle.icon{
          color: $primary;
        }
      }
    }
    .actions{
      display: flex;
      grid-gap: $padding - 7;
      align-items: center;
    }
}
  