@import "../vars.scss";


.Login{
    background: url(../assets/img/login-banner.jpg) !important; 
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    height: $fullHeight;
    .provider-header{
        &:after{
            display: none;
        }
    }
    .container.fluid{
    flex: 1;
    margin: 0 auto !important;
    padding: $padding + 5px;
    overflow: auto;
    width: 100% !important;
    @include mobileSize-xs {
        max-width: $fullHeight !important;
    }
    .content{
        max-width: 300px !important;
        margin: 0 auto;
    }
    .field{
        max-width: $inputWidth + 10px;
    }
    .title{
        text-align: center;
        color: $white !important;
        font-size: $fontSizeLarge !important;
    }
    .link{
        display: block;
        text-align: center;
        cursor: pointer;
    }
    form{
        position: relative;
        margin-top: 4em;
    }
    .header.error{
        font-size: $fontSize - 4px !important;
        padding: $padding - 10px !important;
        display: flex;
    }
}
    
}