@import "../vars.scss";

.Provider-Form-Page{
  display: flex;
  flex-direction: column;
  height: $fullHeight;
  .container.fluid{
    height:$fullHeight;
    width: $fullHeight !important;
    padding: $padding;
    overflow: auto;
    margin: 0 !important;
    flex: 1;
    .content{
      background: $page-bg;
      padding: $padding;
      min-height: $fullHeight;
    }
    form{
      width: fit-content;
      margin: 25px auto 10px;
      @include mobileSize{
        width: 100%;
        margin: 10px auto ;
      }
    }
  }
}