// Theme Colors 
$primary: #f6901e;
$secondary: #243875;
$white: #ffffff;

$header-background: linear-gradient(180deg, #eff4f9 33.93%, #ffffff 100%);
$primary-gradient: linear-gradient(180deg, #F39323 0%, #EB5B28 100%);
$footer-background: linear-gradient(180deg, #2a3b64 0%, #203157 100%);