// Theme Colors 
$primary:#F26722;
$secondary: #243875;
$secondary-2: #273860;
$error: #E90F0F;

$white: #ffffff;
$dark: #1A1A1A;

$page-bg:rgba(36, 56, 117, 0.2);

$header-background: linear-gradient(180deg, #eff4f9 33.93%, #ffffff 100%);
$primary-gradient: linear-gradient(180deg, #F39323 0%, #EB5B28 100%);
$footer-background: linear-gradient(180deg, #2a3b64 0%, #203157 100%);

// SIZES 
$largeInput: 66px;
$fullHeight: 100%;
$padding: 15px;
$fontSize: 14px;
$fontSizeLarge: 32px;
$inputWidth: 290px;
$labelAlignment: 13px;
$laptopWidth: 1199px;
$ipadWidth: 991px;
$mobileWidth: 767px;
$smallMobileWidth: 575px;
$xsMobileWidth: 400px;

@mixin laptopSize {
    @media only screen and (max-width: $laptopWidth) {
      @content;
    }
  }
  
  @mixin ipadSize {
    @media only screen and (max-width: $ipadWidth) {
      @content;
    }
  }
  
  @mixin mobileSize {
    @media only screen and (max-width: $mobileWidth) {
      @content;
    }
  }
  
  @mixin mobileSize-sm {
    @media only screen and (max-width: $smallMobileWidth) {
      @content;
    }
  }
  @mixin mobileSize-xs {
    @media only screen and (max-width: $xsMobileWidth) {
      @content;
    }
  }